@import "https://fonts.googleapis.com/css2?family=Poppins:100,300,400,500,600";
@include google-font("Poppins", "100,300,400,500,600");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  transition: all 0.2s ease;
}

section {
  padding: 2rem 9%;
}

h1 {
  //font-family: "Tintos";
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  border-radius: $radius;
  color: $color-main;
  background: none;
  border: $border-main;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.7rem;
  &:hover {
    border: $border-hover;
    border-radius: $radius-hover;
  }
}

.title {
  font-size: 9rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.05rem $color-main;
  letter-spacing: 0.2rem;
  text-align: center;
  pointer-events: none;
  position: relative;
  //color: red;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: $color-main;
    font-size: 3rem;
  }
}

.box {
  flex: 1 1 42rem;
  padding: 2rem;
  border: $border-main;
  border-radius: $radius;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-left: 6rem;
}
