.home {
  //width: 100%;
  min-height: 100vh;
  padding-top: 12rem;
  background: url(../images/home-bg.jpg) no-repeat center/cover;
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  &__content {
    flex: 1 1 42rem;
    h3 {
      font-size: 6.5rem;
      color: $color-main;
      text-transform: uppercase;
    }
  }
  &__image {
    flex: 1 1 42rem;
    padding-top: 10rem;
    text-align: center;
    img {
      height: 35rem;
      animation: float 4s linear infinite;
    }
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-7rem);
  }
}

.about {
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  &__image {
    flex: 1 1 42rem;
    img {
      width: 100%;
      animation: aboutImage 4s linear infinite;
    }
  }
  &__content {
    flex: 1 1 42rem;
    h3 {
      color: $color-main;
      font-size: 3rem;
      line-height: 1.8;
    }
    p {
      color: $color-main;
      font-size: 1.5rem;
      line-height: 1.8;
      padding: 1rem 0;
    }
  }
  &__icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
  }

  &__icons {
    flex: 1 1 15rem;
    padding: 1.5rem;
    text-align: center;
    border: $border-main;
    border-radius: $radius;
    img {
      height: 5rem;
    }
    h3 {
      font-size: 1.7rem;
      padding-top: 1rem;
      color: $color-main;
    }
  }
}

@keyframes aboutImage {
  0%,
  100% {
    transform: scale(0.9);
    border-radius: $radius-hover;
  }
  50% {
    transform: scale(0.8);
    border-radius: $radius;
  }
}

.menu {
  background: url(../images/menu-bg.jpg) no-repeat center/cover;
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  &__content-box {
    flex: 1 1 42rem;
    padding: 2rem;
    border: $border-main;
    border-radius: $radius;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 6rem;
    &:hover {
      border: $border-hover;
      border-radius: $radius-hover;
    }
    img {
      height: 6rem;
      margin-left: -5rem;
    }
    h3 {
      font-size: 2.2rem;
      color: $color-main;
      line-height: 1.8;
    }
    p {
      font-size: 1.6rem;
      color: $color-main;
      line-height: 1.8;
      padding: 1rem 0;
    }
    span {
      font-size: 2rem;
      color: $color-main;
      line-height: 1.8;
    }
  }
}
.book {
  background-image: url(../images/book-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  form {
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    border-radius: $radius-hover;
    padding: 3rem;
    border: $border-main;
    textarea {
      min-height: 16rem;
      resize: vertical;
    }
    .box {
      width: 100%;
      padding: 1rem 1.2rem;
      border-radius: 0.5rem;
      font-size: 1.6rem;
      background: none;
      text-transform: none;
      color: $color-main;
      border: $border-main;
      margin: 0.7rem 0;
      &:focus,
      &:hover {
        border: $border-hover;
      }
    }
  }
}
