.home-slider {
  text-align: center;
  padding: 3rem 0;
  img {
    height: 9rem;
    margin: 1rem 2rem 0;
    cursor: pointer;
    &:hover {
      transform: translateY(-2rem);
    }
  }
}

.review-slider {
  padding: 7rem 0;

  .review-box {
    border: $border-main;
    border-radius: $radius;
    text-align: center;
    position: relative;
    z-index: 0;
    padding: 2rem;
    //color: red;
    .fa-quote-left {
      position: absolute;
      top: 2rem;
      left: 2.5rem;
      font-size: 6rem;
      color: #ccc;
      z-index: -1;
      &:hover {
        top: -6.5rem;
      }
    }
    .fa-quote-right {
      position: absolute;
      bottom: 2rem;
      right: 2.5rem;
      font-size: 6rem;
      color: #ccc;
      z-index: -1;
      &:hover {
        bottom: -6.5rem;
      }
    }
    img {
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      margin-bottom: 0.7rem;
    }
    .stars {
      padding: 0.5rem 0;
      i {
        font-size: 1.7rem;
        color: $color-main;
      }
    }
    p {
      font-size: 1.6rem;
      color: $color-main;
      padding: 1rem 0;
      line-height: 1.8;
    }
    h3 {
      font-size: 2.2rem;
      color: $color-main;
      line-height: 1.8;
    }
    span {
      font-size: 1.5rem;
      color: $color-main;
    }
  }
}

.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background-color: $color-main;
}
